
<%- include('../includes/header.ejs') %>
</head>
<body>
  <header>
    <!-- Header Start -->
    <%- include('../includes/navigation.ejs') %>
    <!-- Header End -->
  </header>
  <main>
    <!--? slider Area Start-->
    <div class="slider-area position-relative">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider position-relative hero-overly slider-height2  d-flex align-items-center" data-background="/img/hero/h1_hero.png">
                <div class="container">
                 <div class="row">
                     <div class="col-xl-6 col-lg-6">
                        <div class="hero-caption hero-caption2">
                            <img src="/img/hero/hero-icon.png" alt="" data-animation="zoomIn" data-delay="1s">
                            <h2 data-animation="fadeInLeft" data-delay=".4s">Customers</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

   <!-- Trigger/Open The Modal -->
   <button  class="btn" data-animation="fadeInLeft" data-delay=".8s" id="myBtn">Customers</button>

   <!-- The Modal -->
   <div id="myModal" class="modal">
   
     <!-- Modal content -->
     <div class="modal-content">
       <span class="close">&times;</span>
       <label > Enter Customer Name</label>
       <input type="text" name="custName" id="custName" >
       <button type="submit"> Search </button>
     </div>
   
   </div>
</main>
   
<footer>
  <!-- Footer Start -->
    <%- include('../includes/footer.ejs') %>
  <!-- Footer End -->
</footer>
