<%- include('../includes/header.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <h1>HI Welcome To SK TAILOR Shop !!</h1>
    <p> We're working on it .. Sorry for inconvenience</p>

   <!-- Trigger/Open The Modal -->
<button id="myBtn">Customers</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <label > Enter Customer Name</label>
    <input type="text" name="custName" id="custName" >
    <button type="submit"> Search </button>
  </div>

</div>


<%- include('../includes/footer.ejs') %>